.banner {
  color: white;
  text-align: center;
  height: 93vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner h3 {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}


.parallax {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


// Navbar
/* Main navbar */
.navbar-wagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 31px;
  margin: 13px;
  padding: 0px 100px;
}

.navbar-wagon p {
  color: black;
  font-size: 21px;
  font-weight: 300;



}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

// footer


.footer {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}


// content
.content {
  display: flex;
    padding: 9px 0;
    font-size: 15px;
}

.title {
 height: 10em;
  display: flex;
  align-items: center;
  justify-content: center
}


// massage info

.container-content-about {

  text-decoration: none;
  font-size: 18px;
  line-height: 39px;

}

.about-masseuse {
  text-align: justify;
  h1 {
    text-align: center;
  }
}
.massage-info{
  text-align: center;



}
// .gray-wrapper {
//   background-color: gray;
// }

.massage-list {
  justify-content: space-between;
  display: flex;

    li {
      font-size: 20px;
      font-weight: bolder;
      font-color: aqua;
    }
}
.massage-description {
  width: 30%;
}

