---
title: Koima Massage
---
<div class="banner parallax" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/banner-massage.jpeg');">
  <div class="banner-content">
    <h1>Alexander Fretez</h1>
    <h3>Massage therapy</h3>
  </div>
</div>
<div class="container">
  <div class="text-center">
    <h1>Testimonials</h1>
  </div>
  <div class="col">
  </div>
</div>
<div class="gray-wrapper">
  <div class="container">
    <div class="massage-info">
      <div id="text-center">
        <h1>Offered Massages</h1>
      </div>
      <div class="list-unstyled massage-list">
        <div class="massage-description">
          <h3>Swedish</h3>
          <p>Soothing massage that increases the level of oxygen in the blood, decreases muscle toxins, improves circulation and flexibility while easing tension.</p>
          <p>30 min - $50</p>
        </div>
        <div class="massage-description">
          <h3>Sport</h3>
          <p> Prevent injuries and prepare the body for athletic activity and maintain it in optimal condition</p>
          <p>30 min - $60</p>
        </div>
        <div class="massage-description">
          <h3>Deep Tissue</h3>
          <p>Deep pressure is beneficial in releasing chronic muscle tension</p>
          <p>60 min - $80</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to "About", "/about.html"  %>